In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 1. READ DATA

In [5]:
monday = pd.read_csv('../week08/data/monday.csv', sep=';')
tuesday = pd.read_csv('../week08/data/tuesday.csv', sep=';')
wednesday = pd.read_csv('../week08/data/wednesday.csv', sep=';')
thursday = pd.read_csv('../week08/data/thursday.csv', sep=';')
friday = pd.read_csv('../week08/data/friday.csv', sep=';')

days_data = [monday, tuesday, wednesday, thursday, friday]
monday

                timestamp  customer_no  location
0     2019-09-02 07:03:00            1     dairy
1     2019-09-02 07:03:00            2     dairy
2     2019-09-02 07:04:00            3     dairy
3     2019-09-02 07:04:00            4     dairy
4     2019-09-02 07:04:00            5    spices
...                   ...          ...       ...
4879  2019-09-02 21:49:00         1442  checkout
4880  2019-09-02 21:49:00         1444  checkout
4881  2019-09-02 21:49:00         1445     dairy
4882  2019-09-02 21:50:00         1446     dairy
4883  2019-09-02 21:50:00         1447     fruit

[4884 rows x 3 columns]

# 2. MAKE customer ID-column Customer number + day

# 3. Make 'day'- column

# 4. add checkout for customers, that did not check out.

# 5. total customers in each section

# 6. Customers- section over time

# 7. time inside for every costumer.

# 8. total number of customers from 7.00 to 21.50 (avg of month)

# 9. distribution of customers sequence from 1st to nth.